@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Syncopate:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    color: white;
}

li {
    list-style-type: none;
}


/*font-family: 'Poppins', sans-serif;*/


/*___________________ sidebar ___________________*/

.sidebar {
    position: fixed;
    width: 280px;
    height: 100%;
    background: rgba(0, 0, 0, 0.957);
    color: rgba(228, 222, 221, 0.95);
}

.nav-menu {
    position: absolute;
    font-size: 20px;
    font-family: 'Syncopate', sans-serif;
    font-weight: 700;
    top: 610px;
    left: 25px;
    line-height: 40px;
    text-align: left;
    letter-spacing: 0.08em;
    transition: 0.5s;
}

.name,
h3 {
    position: absolute;
    top: 390px;
    left: 25px;
    font-family: 'Syncopate', sans-serif;
    font-size: 20px;
}

.position {
    position: absolute;
    top: 410px;
    left: 25px;
    font-family: 'Syncopate', sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.05em;
    color: rgba(225, 218, 218, 0.715);
}

hr {
    position: absolute;
    width: 100px;
    left: 25px;
    top: 740px;
    opacity: 0.4;
}

.icons {
    position: absolute;
    left: 25px;
    top: 760px;
}

.icons i {
    font-size: 1.4em;
    margin: 0 15px 0 0;
    color: rgba(255, 255, 255, 0.922);
}


/*___________________ about me ___________________*/

main {
    margin-left: 280px;
}